@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Oswald&display=swap");
/* font-family: "Merriweather", serif;
font-family: "Oswald", sans-serif; */
* {
  margin: 0px;
  padding: 0px;
}
header{
  display: flex;
  justify-content: center;
}
#galleryImage {
  max-width: 500px;
}
#app{
  display: flex;
  justify-content: center;
}
#back, #forward{
  display: flex;
  align-self: center;
  width: 1rem;
  height: 1rem;
}
p{
  font-size: 2rem;
}
p:hover{
  cursor: pointer;
}

